@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	min-width: 1148px;
}
* {
	font-family: "Noto Sans KR", sans-serif;
}

.container {
	width: 1148px !important;
	min-width: 1148px !important;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
}

.site-logo {
	width: 150px;
	margin-left: -15px;
}

.soc-med-icon {
	width: 32px;
}

.button-primary {
	width: auto;
	padding: 0 20px;
	height: 32px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 13px;
	text-indent: 0;
	border: 1px solid #14a9e4;
	box-sizing: border-box;
	text-align: center;
	border-radius: 3px;
	white-space: nowrap;
}

.button-primary-inverted {
	width: auto;
	padding: 0 20px;
	height: 32px;
	line-height: 30px;
	margin-left: 10px;
	font-size: 13px;
	text-indent: 0;
	border: 1px solid #14a9e4;
	background: #093648;
	box-sizing: border-box;
	text-align: center;
	border-radius: 3px;
	white-space: nowrap;
}

.menu-overlay {
	top: 40px;
	background-color: #00000080;
	backdrop-filter: blur(10px);
	display: none;
}

.menu-powerball-image {
	text-align: center;
}

.menu-powerball-image:hover img {
	border: 2px solid #0eafdd;
}

.menu-powerball-image img {
	width: 124px;
	height: 124px;
	border-radius: 10px;
	border: 2px solid transparent;
	cursor: pointer;
	margin-bottom: 5px;
}

.menu-powerball-image:hover span {
	color: #0eafdd;
}

.hover-menu:hover .menu-overlay {
	display: block;
}

.menu-link.active {
	color: #0eafdd;
}

.swiper .swiper-slide {
	width: 1148px !important; /* or any other fixed width */
	margin-left: auto;
	margin-right: auto;
}

.swiper .swiper-slide img {
	height: 440px;
	object-fit: cover;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.swiper .swiper-slide-prev {
	transform: scale(0.9) !important;
	filter: blur(5px) brightness(0.5);
}

.swiper .swiper-slide-next {
	transform: scale(0.9) !important;
	filter: blur(5px) brightness(0.5);
}

.swiper .swiper-slide-active {
	transition: 0.5s all;
	filter: blur(0px) brightness(1) !important;
}

.swiper-button-prev {
	left: 18% !important;
	color: #0eafdd !important;
}

.swiper-button-next {
	right: 18% !important;
	color: #0eafdd !important;
}

.swiper-pagination {
	width: 90px !important;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 20px !important;
	border-radius: 100px;
	color: white;
	font-size: 14px;
	position: absolute;
	left: 74% !important;
	bottom: 10px;
	transform: translateX(-50%);
}

.marquee {
	width: 100%;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	animation: marquee 20s linear infinite;
}

@keyframes marquee {
	0% {
		text-indent: 90%;
	}

	100% {
		text-indent: -40em;
	}
}

.marquee-icon {
	background: #000 url(../images/icons/megaphone.png) 10px 50% no-repeat;
	background-size: 15px;
	padding: 5px 0px;
	border-radius: 100px;
	position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(0%, -50%);
	font-size: 12px;
	padding-left: 30px;
	padding-right: 10px;
	font-weight: 600;
	color: #fff;
}

.elip {
	width: 100%;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.sections-lists section {
	width: calc(100% / 3) !important;
}

.footer-swiper img {
	height: 50px;
}

.footer-marquee {
	width: 100%;
	white-space: nowrap;
	position: relative;
}

.footer-marquee img {
	width: 100%;
	height: 40px;
	margin: auto;
	object-fit: contain;
}

.footer-marquee > .swiper-wrapper {
	transition-timing-function: linear !important;
}

.modal-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(0, 0, 0, 0.622);
}

.login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 450px;
	z-index: 20;
	border-radius: 10px;
}

.modal-header img {
	width: 150px;
	margin: auto;
}

.modal-body {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.modal-close {
	width: 40px !important;
	position: absolute;
	right: 22px;
	top: 47px;
	cursor: pointer;
}

.register-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 850px;

	z-index: 20;
	border-radius: 10px;
}

.signup-info {
	padding: 20px;
	margin-bottom: 20px;
}

.signup-info ul > li {
	list-style: disc;
	margin-left: 20px;
}

.signup-info ul > li:last-child {
	list-style: none;
	margin: 20px 0 0;
}

.register-form .modal-body {
	max-height: 80vh;
	overflow-y: scroll;
}

.register-form .modal-body::-webkit-scrollbar {
	display: none;
}

.page-banner-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	font-weight: bold;
}

.tab-menu {
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
}

.tab-menu div {
	border-right: 1px solid #33333342;
	padding: 10px;
	cursor: pointer;
}

.tab-menu .active {
	background: #0eafdd;
	color: #333;
}

.transaction-table table th {
	width: 20%;
}

.transaction-table table td {
	width: 80%;
}

.transaction-table .reset-amount {
	background: #0eafdd !important;
	color: #333;
}

.transaction-table .transaction-amount-button {
	width: 80px;
	background: #093648;
	border: 1px solid #0eafdd;
	padding: 0px 10px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.transaction-table .transaction-amount-button:hover {
	background: #0eafdd;
	color: #333;
}

.page-number {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	background: #333;
	border-radius: 5px;
	font-weight: 600;
	font-size: 14px;
}

.page-number.active {
	background: #0eafdd !important;
	color: #333;
}

.table-icon {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.lists-table .hover-on:hover {
	background: rgba(79, 79, 79, 0.165) !important;
}
